#banner{
  background-image: url(https://picsum.photos/id/1002/500/2000) ;
  background-size: cover;
  color: black;
  text-align: center;
  padding: 80px;
}

#banner h1 {
    font-size: 52px;
    background: -webkit-linear-gradient(180deg, #fff, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#banner h2 {
  font-size: 32px;
  background: -webkit-linear-gradient(180deg, #fff, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#banner h3{
  font-size: 20px;
}

#fibonacci {
  position: absolute;
  left: 50%;
  top: 430px;
  transform: translate(-50%, -50%);
}

#vogel {
  position: absolute;
  left: 50%;
  top: 480px;
  transform: translate(-50%, -50%);
}


#stories {
  position: absolute;
  left: 50%;
  top: 530px;
  transform: translate(-50%, -50%);

}


#coffee{
   position:absolute;
   left: 50%;
   top: 580px;
   transform: translate(-50%, -50%);
}
