.btn-toggle-nav{
    background-image: url("img/mongolfiera_verde.svg");
}

#intro{
    width: 50%;
    text-align: justify;
    margin: auto;
    font-size: 14px;
    color: black;
    margin-top: 150px;
  }

  #container{
    width: 50%;
    text-align: center;
    margin: auto;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    color: black;
  }

#container p{
  margin-top: 80px;
}
#container a{
  text-decoration: none;
  color:black;
}

#container a:hover{
  color: #37c871fe;
}


/* 
violet: #7f2aff00
green #37c871fe 
azzurro scuro: #0d98bafe
fucsia: #ff00ccfe
*/