
.gloria{
    font-family: 'Niconne', cursive;
    font-weight: 400;
    font-size: 40px;
    color: '#909090';
    position: absolute;
    top: 10px;
    left: 20px;
    
}
.gloria a{
    text-decoration: none;
    color: black;
}