.btn-toggle-nav{
    background-image: url("../../style/img/mongolfiera_verde.svg");
}

#thispage a{
    text-decoration: none;
    color: black;
}

#thispage a:hover{
    color: #37c871fe
}


#container{
    width: 60%;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    color: #37c871fe; 
  }


.title{
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    color: #37c871fe; 
}
.text{
    text-align: justify;
    margin-top: 30px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: black;
}

.text a{
    color: #ED6491;
    text-decoration: none;
    font-weight: 600;
}

.text a:hover{
    color: #37c871fe;
    text-decoration: none;
    font-weight: 600;
}

.important{
    color: #37c871fe;
}

/* .emphasis{
    color: #37c871fe;
} */


.image{
    margin-bottom: 20px;
    text-align: center;
}

.image img {text-align: center;
    width: 70%;
    margin-top: 5px;
    margin-bottom: 5px;
    mix-blend-mode: multiply;
    opacity: 1;}

.image figcaption{
    text-align: center;
    width: 70%;
    font-style: italic;
    margin: auto;
    font-size: 12px;
}



.plot{text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
    mix-blend-mode: multiply;
    opacity: 1;}


#extra{
    margin-top: 50px;
    font-size: 20px;
    margin-bottom: 100px;
}

#extralist{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
}

#extralist a{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

#extralist a:hover{
    color: #37c871fe;
}